# Dependências Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Config do editor
.vscode/

# Arquivos de ambiente (se você criar depois)
.env

# Dados do Postgres (volume Docker não entra aqui, mas por garantia)
pgdata/
